# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Model files
*.pkl
*.joblib
*.h5

# Data files
*.csv
*.json
*.log

# VS Code settings
.vscode/

# MacOS system files
.DS_Store
